<div class ="inform">
  <h1>Reset password</h1>
  <%=error_messages_for :user%>
  <% form_for @user, :url => reset_password_users_path, :html => {:method => :post} do |f| %>
  <%=hidden_field_tag :token, params[:token] %>
  <p>
    <%= f.label :user, "Password:" %>
    <%= f.password_field :password%>
  </p>
  <p>
    <%= f.label :user, "Confirm Password:" %>
    <%= f.password_field :password_confirmation%>
  </p>
  <p>
    <%= submit_tag "Reset Password" %>
    or<%=link_to "Cancel", back_or_default %>
  </p>
  <% end %>
</div>
